{% extends 'mastertemplate.html' %}
{% block content %}

<script>
  async function sendMessage() {
    let message = messagefield.value;
    let token = '{{ csrf_token }}'; // use django variable
    let formdata = new FormData();
    formdata.append('textmessage', message);
    formdata.append('csrfmiddlewaretoken', token);

    showPreviewMessage();
    
    try {
      result = await fetch('/chat/', {
        method: 'POST',
        body: formdata
      })
      let messageAsJson = await result.json();
      previewMessage.remove();
      showFinalMessage(messageAsJson);
      messageForm.reset();
    } catch (e) {
      console.error('Error in sending message to backend:', e)
    }
  }

  function showPreviewMessage(){
    previewMessage = document.createElement("div");
    previewMessage.innerHTML += `
       <div id="previewMessage" class="message grey">
          <span>[ ${ getFormattedDate() } ]</span>
          {{ request.user.first_name }}:
          <i>${ messagefield.value }</i>
        </div>
    `
    messageContainer.prepend(previewMessage);// render preview message while waiting for backend
  }

  function showFinalMessage(fetchedData){
    finalMessage = document.createElement("div");
    finalMessage.innerHTML += `
    <div class="message">
          <span>[ ${fetchedData.fields.created_at} ]</span>
          {{ request.user.first_name }}:
          <i>${fetchedData.fields.text}</i>
        </div>
    `
    messageContainer.prepend(finalMessage);// render preview message while waiting for backend
  }

  function getFormattedDate() {
    let now = new Date();
    let targetFormat = 'mm. dd, yy'
    let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

    const map = {
      hh: now.getHours(),
      mm: now.getMinutes(),
      ss: now.getSeconds(),
      dd: now.getDate(),
      mm: months[now.getMonth()],
      yy: now.getFullYear()
    }
    let formattedDate = targetFormat.replace(/mm|dd|yy/gi, matched => map[matched]);
    return formattedDate;
  }

</script>

<form id="messageForm" onsubmit="sendMessage(); return false" method="post" class="msg-form">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield">
    <input placeholder="Your message ..." name="textmessage" class="mdl-textfield__input" type="text" id="messagefield">
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>

<div id="messageContainer">
  {% for message in messages %}
  <div class="message">
    <span class="grey">[ {{ message.created_at }} ]</span>
    {{ request.user.first_name }}:
    <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>



<!-- <h1>Forgot to login?</h1>
<p>Please <a href="/login/">login here </a>to get access to the chatroom</p> -->


{% endblock %}