{% extends 'mastertemplate.html' %}
{% block content %}


<h1>Login</h1>

{% if wrong_password %}
<p>Login Data was incorrect. Please try again. </p>
{% endif %}

<form action="/login/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div class="flex_col margin-top">
        <label for="name">name</label>
        <input name="username" type="text">
    </div>
    <div class="flex_col margin-top">
        <label for="password">password</label>
        <input name="password" type="password">
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin">Login</button>
</form>

<div>Don`t have an account yet? Register <a href="/register/">here</a>.
</div>


{% endblock %}