{% extends 'mastertemplate.html' %}
{% block content %}


<h1>Login</h1>

{% if wrong_password %}
<p>Login Data was incorrect. Please try again. </p>
{% endif %}

<form action="/login/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div class="flex_col">
        <label for="name">Name</label>
        <input name="username" type="text">
    </div>
    <div class="flex_col">
        <label for="password">Passwort</label>
        <input name="password" type="password">
    </div>
    <!-- <div class="flex_col">
                    <label for="password_confirm">Passwort wiederholen</label>
                    <input name="password_confirm" type="password">
                </div> -->
    <button>Einloggen</button>
</form>

<div>Don`t have an account yet? Register <a href="/register">here</a>
</div>

{% endblock %}