.margin{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-top{
    margin-top: 1rem;
}

.page-content {
    margin: 100px auto;
    max-width: 450px;
}

.grey {
    color: rgba(0, 0, 0, 0.4);
}

.msg-form {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.message {
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.input {
    margin-bottom: 8px;
    height: 52px;
}

.input input {
    height: 60%;
}

.input button {
    height: 60%;
}

.d-flex {
    display: flex !important;
    gap: 0.7rem;
}

.flex_col {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.center-icon {
    display: flex;
    align-items: center;
    line-height: 1.4;
}

.error-msg {
    color: red;
    font-style: italic;
}

.linkstyle-blank {
    text-decoration: none;
    color: unset;
}

button {
    margin: 1rem 0rem;
}

button:hover {
    cursor: pointer;
}

.btn-logout {
    border: none;
    width: 100%;
    background-color: unset !important;
}

.btn-logout[with-hover]:hover {
    background-color: #e0e0e0 !important;
}
