<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- <script  src="{% static 'js/script.js' %}"></script>  -->

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <title>Chatroom</title>
</head>

<body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    {% if request.user.is_authenticated %}
                    Chatroom  
                    {% else %}
                    <a class="linkstyle-blank" href="/login/">ChatApp</a>
                    {% endif %}
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                {% if request.path != '/login/' %}
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% if request.user.is_authenticated %}
                    <span title="Current user">{{ request.user.first_name }}</span>
                    {% endif %}
                    <form method="POST" action="/logout/">
                        {% csrf_token %}
                        <button class="mdl-navigation__link d-flex btn-logout">
                            <span title="logout" class="material-symbols-outlined">logout</span>
                        </button>
                    </form>
                </nav>
                {% endif %}
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                ChatApp
            </span>
            <nav class="mdl-navigation">

                {% if not request.user.is_authenticated %}
                <a class="mdl-navigation__link d-flex" href="/login/"> <span 
                        class="material-symbols-outlined">
                        login
                    </span class="center-icon"> Login</a>
                {% endif %}

                <a class="mdl-navigation__link center-icon d-flex" href="/chat/"><span
                        class="material-symbols-outlined">
                        home
                    </span class="center-icon">Chat</a>

                {% if request.user.is_authenticated %}
                <form method="POST" action="/logout/">
                    {% csrf_token %}
                    <button with-hover type="submit" class="mdl-navigation__link center-icon d-flex btn-logout">
                      <span class="material-symbols-outlined">logout</span> Logout
                    </button>
                  </form>
                {% endif %}
            </nav>

        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                {% block content %}
                {% endblock %}

            </div>
        </main>
    </div>

</body>

</html>